huggingface_hub==0.23.2
cmake==3.30.4
numba
numpy==1.19.3
onnx>=1.7.0
python-dateutil
ruamel.yaml
scikit-learn
setuptools>=70.0.0
tensorboard
text-unidecode
torch
tqdm>=4.41.0
wget
wrapt
braceexpand
editdistance
einops
g2p_en
jiwer
kaldi-python-io
kaldiio
lhotse>=1.26.0
librosa>=0.10.2
marshmallow
packaging
pyannote.core
pyannote.metrics
pydub
pyloudnorm
resampy
ruamel.yaml
scipy>=0.14
soundfile
sox
texterrors
einops
lhotse>=1.22.0
librosa>=0.10.0
matplotlib
pesq
pystoi
scipy>=0.14
soundfile
sox
datasets
inflect
pandas
sacremoses>=0.0.43
sentencepiece<1.0.0
cloudpickle
fiddle
hydra-core>1.3,<=1.3.2
omegaconf<=2.3
pytorch-lightning>2.2.1
torchmetrics>=0.11.0
transformers>=4.44.0
wandb
webdataset>=0.2.86
nemo_toolkit==2.0.0rc0
ipython==8.28.0
